project.properties
ic_launcher-web.png
gen/
bin/
.classpath
.project
.DS_Store
/.settings/org.eclipse.jdt.core.prefs
/.settings
/.idea
/out
/Nemesis.iml
!/libs/Android.mk
!/libs/LICENSE-metadata-extractor.txt
!/libs/metadata-extractor-2.6.4.jar
!/libs/xmpcore.jar
/libs/*/*
/obj
/res\drawable-xxhdpi/Thumbs.db
/jni
/libs/android-support-v4.jar
