
/////////////////////////////////////////////////////////////////////////////
//
// TXT
//

XMPPLUGINUIDS           TXT                     "../../resource/txt/XMPPLUGINUIDS-64.txt"
MODULE_IDENTIFIER       TXT                     "../../resource/txt/MODULE_IDENTIFIER.txt"
